@font-face {
  font-family: Creepster; 
  src: url(./fonts/Creepster-Regular.ttf); 
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  color: #ffeecf;
  background:
    radial-gradient(circle at 30% 20%, rgba(255, 140, 66, 0.6), transparent 60%),
    linear-gradient(to bottom, #120136, #2b0f4d);
  overflow: hidden;
}

main {
  position: relative;   /* context per #carregant */
  width: 100%;
  height: 95vh;         /* ocupa tota la pantalla */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;          /* per sobre de #presentacio */
  pointer-events: none; /* no bloqueja clics */
}

/* contenidor dels elements centrats */
#presentacio {
  display: none;
  flex-direction: column;  /* apila verticalment */
  align-items: center;     /* centra horitzontalment */
  justify-content: center; /* centra verticalment */
  height: 100%;            /* ocupa tota l'altura del main */
  text-align: center;
}

.titol {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 35px;
  font-family: Creepster;
}

#inici {
  margin-top: -20px;
  background-color: #ffb347;
  color: #2b0f4d;
  font-size: 1em;
  border: none;
  padding: 14px 28px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
}

#inici:hover {
  background-color: #ffd670;
  transform: scale(1.08);
  box-shadow: 0 0 15px #ffd670aa;
}

.subtitol {
  font-size: 1rem;
  margin-top: 5px;
  max-width: 100%;        /* ocupa tot l'ample possible */
  white-space: nowrap;     /* evita salts de línia */
  overflow: hidden;        /* evita que el text sobresurti */
  text-overflow: ellipsis; /* afegeix "..." si es talla */
}

/* text "carregant.." a la part inferior dreta */
#estat {
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-size: 1.1rem;
  opacity: 0.8;
  pointer-events: none;
  z-index: 2;
}

#carbassa {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}

img {
  position: absolute;
  z-index: -1;   
}

/* controls de música */
#controls {
  position: fixed;
  bottom: 1.5em;        /* distància inferior relativa a la font */
  left: 50%;             
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 20;
  gap: 1em;   
}

.button-musica {
  font-size: 2.5em;    /* mida relativa a la font */
  background: none;
  border: none;
  cursor: pointer;
  color: #ffeecf;
  transition: transform 0.2s;
}

.slider-volum {
  width: 12.5em;       /* mida relativa a la font */
}
